.navbar{
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    justify-content: center;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    margin-right: 1rem;
  }
  
  .navbar li:last-child{
    margin-right: 0;
  }
  
  .navbar a{
    color: #fff;
    text-decoration: none;
  }
  
  .navbar a:hover{
    text-decoration: underline;
    color: #059bc9
  }
  