/* Estilos globales */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Estilos para el encabezado */
header{
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Estilos para el contenido principal */
main{
  flex:1;
  padding: 20px;
}

/* Estilos para el pie de pagina */
footer{
  background-color: #333;
  color: #059bc9;
  padding: 10px;
  text-align: center;
}