button {
    width: 250px;
    height: 70px;
    font-size: 25px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: bisque;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer; 
}

button:hover {
    background-color: rgba(30, 51, 35, 0.658); 
}

.boton-click {
    background-color: #002ead;
}

.boton-reiniciar {
    background-color: #5a01a7;
}
