.contador {
  min-width: 300px;
    height: 300px;
    font-size: 150px;
    padding: 25px;
    color:rgb(182, 155, 5);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid rgb(182, 155, 5);
    margin-bottom: 15px;
}
